* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro",Arial,sans-serif;
  box-sizing: border-box;
}

.container--large {
  width: 90%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar {
  padding: 0;
}

.brand-img {
  width: 200px;
  height: 39px;
  margin-left: 10px;
  margin-top: 4px;
}

/* definisao f t in*/
#navbarSupportedContent ul {
  padding: 0;
  margin: 0;
}

#navbarSupportedContent ul li {
  height: 65px;
  line-height: 3;
}

.dropdown-menu {
  position: absolute;
  top: 53px;
  left: -117px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 1rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: right;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.language-dropdown {
  background: #161415;
  height: 65px;
  line-height: 3;
  padding: 0 0.8rem;
}

/*==== Menu Button ====*/

.container-menu {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  padding-right: 26px;
  padding-left: 26px;
  height: 65px;
  border-radius: 0 0 45px 0;
  background: #161415;
  top: 0;
  left: 0;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 33px;
  border-bottom: #fff 3px solid;
  margin: 5px 0;
  transition:all 0.2s;
}

.bar2 {
  border-bottom: #fff 2px dashed;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px);
  transform: rotate(-45deg) translate(-3px, 3px);
  
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
  
}

/*==== Content Zoom In ====*/
.container-img {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(22,20,21,0.95);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow-x: none;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.overlay .navbar-nav {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.overlay .navbar-nav .active-page {
  color:gray;
}

.overlay .navbar-nav > li {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.overlay .navbar-nav > li > a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.overlay .navbar-nav > li > a:hover {
  text-decoration: none;
  color: gray;
}

.overlay-toggle .overlay{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: -1;
}

/*==== Carousel ====*/

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: calc(100vh - 44px);
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../images/slides/fullServiceSolution.png");
}
.slide2 {
  background-image: url("../images/slides/longTermRental.png");
}
.slide3 {
  background-image: url("../images/slides/tailorMadeSolution.png");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding-top: 25vh;
  /* width: 65%; */
}

.slide-content span {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: "Source Sans Pro",Arial,sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px #444;
  padding: 0;
  margin: 0 0 20px 85px;
  line-height: 1.2;
}

#slider a img {
  width: 15px;
  height: 15px;
}

#slider a {
  margin-left: 5.5rem;
  width: 158px;
  height: 35px;
  text-transform: uppercase;
  font-weight:700;
  line-height: 1.3;
}

/*==== News Section ====*/

.newsSection {
  position: absolute;
  max-width: 25vw;
  height: 68vh;
  background: #161415;
  top: 19vh;
  right: 5vw;
}

.news-image {
  width: 100%;
}

.newsSection .news-image > img {
  width: 100%;
}

.news-content a img {
  width: 15px;
  height: 15px;
}

.news-content a {
  height: 35px;
  text-transform: uppercase;
  font-weight:700;
  line-height: 1.3;
}

.title-on-img-news {
  display:none;
}


/*==== footer ====*/
.footer {
  padding: 10px 0;
  background-color: #161415;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.footer-copyAndDownload {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  color: #b2b2b2;
  font-size: 14px;
  display: inline-block;
}

.footer-copyAndDownload p {
  float: left;
  margin: 0 20px 0 0;
}

.footer-copyAndDownload a {
  position: relative;
  padding-left: 20px;
  color: #b2b2b2;
}

.footer-copyAndDownload a:before {
  position: absolute;
  display: block;
  content: "ï‡";
  font-family: FontAwesome;
  left: 0;
  top: -3px;
}

.footer-nav {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  display: inline-block;
  text-align: right;
  /* float: right; */
  font-size: 14px;
}

.footer-nav li {
  display: inline-block;
  position: relative;
  list-style: none;
  margin-right: 10px;
}

.footer-nav li a {
  color: #b2b2b2;
  text-decoration: none;
}

.footer-nav li:after {
  position: absolute;
  content: ".";
  display: block;
  top: -4px;
  right: -8px;
  color: #b2b2b2;
}
.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

/*==== Carousel ====*/

.wrapAbout,
.slide-contentAbout {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: calc(100vh - 44px);
  overflow-x: hidden;
}

.wrapAbout {
  position: relative;
}

.slideAbout {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: url("../images/backgrounds/aboutUs.png");
}

/*==== About Content ====*/
.article-section {
  height: calc(100vh - 109px);
}

article {
  transition: all 0.4s;
}

article img {
  filter: gray;
  transition: all 0.4s;
}

article:hover {
  background: #a4a4a4;
}

article:hover img {
  filter: none;
}

.aboutSubpagesArticle > a.arrow-border {
  border-radius: 50%;
  background: #161415;
  position: absolute;
  height: 50px;
  margin-left: 1%;
  bottom: 5%;
  width: 50px;
  visibility: hidden;
}

.aboutSubpagesArticle:hover > a.arrow-border {
  visibility: visible;
}

a.arrow-border > img {
  margin-top: 50%;
}

.aboutSubpagesArticle > a > div {
  margin-top: 60%;
}

.aboutSubpagesArticle h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1.6;
}

/*==== Delatnost ====*/
.wrapDelatnost {
  padding-top: 3rem;
  margin-top: 65px;
  background: #161415;
}

.wrapDelatnost h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.wrapDelatnost p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.wrapDelatnost:hover article {
  background: none;
}

.return-btn > a {
  width: 90px;
  border-radius: 50%;
  height: 90px;
  background: #a4a4a4;
  margin: 0 auto;
}

/*==== Kontakt ====*/

.wrapKontakt {
  background: #161415;
  margin-top: 64px;
}

.wrapKontakt p {
  font-size: 0.95rem;
}

.wrapKontakt > img {
  width: 20px;
}

.wrapKontakt input, .wrapKontakt textarea {
  background: #312c2f;
  border: 1px solid #312c2f;
}

.wrapKontakt form button {
  height: 35px;
  text-transform: uppercase;
  font-weight:700;
  line-height: 1.3;
}

.wrapKontakt form button img {
  width: 15px;
  height: 15px;
}

.wrapKontakt form > p {
  line-height: 2.7;
}

.wrapKontakt .form-control:focus {
  color: #fff;
  background-color: #312c2f;
  border-color: #312c2f;
  outline: 0;
  box-shadow: none;
}

.mapKontakt iframe {
  width: 100%;
  height: 430px;
  border: none;
  padding: 0;
  margin:0;
}


@media (max-width: 991px) {
  .slide-content span {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-family: "Source Sans Pro",Arial,sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
    padding: 0;
    margin: 0 0 20px 85px;
    line-height: 1.2;
  }
}

@media (max-width: 1024px) {
  .newsSection {
    position: relative;
    max-width: 100%;
    height: 75vh;
    background: #161415;
    top: 0;
    right: 0;
    padding: 2rem;
  }
}

@media (max-width: 1325px){
  .news-title {
    display:none;
  }
  
  .title-on-img-news {
    display: inline;
    position: absolute;
    margin-left: -192px;
    margin-top: 14px;
  }
}